{% extends "layout.html" %}
{% block body %}
    <!-- Page Header -->

    <header class="masthead" style="background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/question-mark-icon-on-white-puzzle-royalty-free-image-917901148-1558452934.jpg')/*url('{#  #}{ url_for('static', filename='img/download.jpg') }}')*/; margin-bottom: 0;">

      <div class="overlay"></div>
      <div class="container" style="height: 535px;">
        <div class="row">
          <div class="col">
            <div class="site-heading">
              <h1>Ask your Question</h1>
                </div>
        </div>
        </div>
      </div>
</header>
<br>
    <div class="container">
        {% with messages=get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-success">
                 <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                {% endwith %}
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
          <form name="question" id="questionForm" action = "/post" method="post" enctype="multipart/form-data">

                <div class="form-group">
                  <label for="exampleFormControlTextarea1"></label>

                  <textarea class="form-control" id="exampleFormControlTextarea1" name="ques" rows="3" placeholder="Type your question" required></textarea>

                    <div class="form-group">

                    <input type="file" class="form-control-file" id="exampleFormControlFile1" name="img">
                   </div>
                  </div>

              <div class="form-group">
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" name="email" placeholder="name@example.com" required>
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Whatsapp Number</label>
                <input type="number" class="form-control" id="Number" name="mobile" placeholder="+9145454545" required>
              </div>
               <br>
            <div id="success"></div>
            <div class="form-group">
              <input type="Submit" class="btn btn-primary" id="sendMessageButton" name="Send" value="Send"/>
            </div>

            </form>
      </div>
      </div>
    </div>
<br>





{#        {{ super() }}#}
{#        <script>#}
{#        function f(){#}
{#            var x = document.getElementById('exampleFormControlTextarea1').innerHTML#}
{#            var y = document.getElementById('Number').innerHTML#}
{#            var z = document.getElementById('exampleFormControlInput1').innerHTML#}
{#            if (x!=="" && y!=="" && z!==""){#}
{#                alert("Thankyou! we will contact you soon.");#}
{#            }#}
{#            else {#}
{##}
{#            }#}
{#            //alert("Thankyou! we will contact you soon.");#}
{#        }#}
{#        </script>#}


    <!--
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                Man must explore, and this is exploration at its greatest
              </h2>
              <h3 class="post-subtitle">
                Problems look mighty small from 150 miles up
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">Start Bootstrap</a>
              on September 24, 2018</p>
          </div>
          <hr>
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.
              </h2>
            </a>
            <p class="post-meta">Posted by
              <a href="#">Start Bootstrap</a>
              on September 18, 2018</p>
          </div>
          <hr>
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                Science has not yet mastered prophecy
              </h2>
              <h3 class="post-subtitle">
                We predict too much for the next year and yet far too little for the next ten.
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">Start Bootstrap</a>
              on August 24, 2018</p>
          </div>
          <hr>
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                Failure is not an option
              </h2>
              <h3 class="post-subtitle">
                Many say exploration is part of our destiny, but it’s actually our duty to future generations.
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">Start Bootstrap</a>
              on July 8, 2018</p>
          </div>
          <hr>
           Pager
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Posts →</a>
          </div>
        </div>
      </div>
    </div> -->
    {% endblock %}
